<div class="container">
  <h1>Cocktails</h1>
<!--   <p>Add a new cocktail from here... coming soon</p>
 -->
  <div class="row">

    <% @cocktails.each do |cocktail| %>
      <div class="col-xs-12 col-sm-4">
        <% if cocktail.photo.present? %>
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path cocktail.photo %>')">
        <% else %>
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://source.unsplash.com/1600x900/?cocktail,beverages,<%= cocktail.name %>')">
        <% end %>
          <div class="card-description">
            <h2><%= link_to cocktail.name, cocktail_path(cocktail) %></h2>
          </div>
          <%= link_to "", cocktail_path(cocktail), class:"card-link" %>
        </div>
      </div>
    <% end %>

  </div>
</div>



