<div class="navbar-wagon">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <%= image_tag "logo.png", class: "avatar" %>
    <% end %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <%= link_to 'Cocktails', cocktails_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <%= link_to 'Add Cocktail', new_cocktail_path, class: "navbar-wagon-item navbar-wagon-link" %>

  </div>
</div>
